$background: White;
$color: White;
$linkColor: rgb(87, 198, 255);
$linkColorOnLightBackground: rgb(0, 144, 218);
$linkColorBackgroundHover: rgba(87, 198, 255, .2);
$linkColorBackgroundActive: rgba(87, 198, 255, .4);
$linkColorBackgroundSelected: rgba(87, 198, 255, .26);
$linkColorHover: White;

$btnBackground: #005f90;
$btnBackgroundHover: #0081c3;
$btnColor: White;

$headerColor: White;
$headerBackgroundColor: rgba(0,0,0,.5);
$headerBtnColor: rgba(255,255,255,.3);
$headerBtnColorHover: rgba(255,255,255,1);
$headerBtnColorActive: rgb(87, 198, 255);

$moduleBackground: rgba(0,0,0,.7);
$moduleHeaderBackground: rgba(0,0,0,.2);
$moduleHeaderPadding: 0 15px;
$moduleHeaderLinkColor: White;

$moduleSettingsBackground: rgba(0,0,0,.85);
$moduleSettingsColor: White;
$moduleSettingsBorderColor: rgba(35, 57, 68, .6);
$moduleSettingsInputBorderColor: #ddd;
$moduleSettingsInputBackground: rgba(255,255,255,.9);
$moduleSettingsInputColor: Black;

$contentPaddingSidesOnly: 0 25px;
$contentPadding: 15px 25px;
$smallContentPadding: 5px 25px;

$itemsListActive: rgba(66,66,66,.5);
$itemsListActiveRead: darken($linkColor, 30%);

$scrollbarMargin: 4px;
$scrollbarWidth: 6px;
$scrollbarThumbColor: darken($linkColor, 30%);
$scrollbarThumbColorHover: $linkColor;
$scrollbarTrackColor: Transparent;

$notificationsBackground: rgb(235, 237, 238);
$notificationsColor: #222;
$notificationsHoverBackground: rgb(218, 227, 231);
$notificationsHeaderBackground: rgba(12, 161, 240, 1);
$notificationsHeaderColor: White;
$notificationBorderBottom: solid 1px rgba(0, 0, 0, 0.1);
$notificationsLinkColor: rgb(1, 90, 134);
$notificationsLinkColorHover: rgb(23, 134, 190);
$notificationsThumbnailBorderColor: rgba(0,0,0,.3);

$modalHeaderBackground: #002e45;
$modalHeaderColor: White;
$modalBackground: rgba(0,0,0,.9);
$modalColor: White;
$modalBtnColor: rgba(255,255,255, .3);
$modalBtnHoverColor: White;
$modalBtnActiveColor: $linkColor;

$scrollbarWidth: 6px;

$optionsBackground: rgba(0,0,0,.9);
$optionsBackgroundHover: $linkColorBackgroundHover;
$optionsBackgroundActive: $linkColorBackgroundActive;
$optionsColor: White;

@mixin firstColumn{
  color: White;

  a{
    color: $linkColor;
    &:hover{
      color: White;

      h4{ text-decoration: none; }
    }

    h4{ color: White; }
  }
}