#header{
  height: $headerHeight;
  line-height: $headerHeight;
  padding: $headerPadding;
  background: $headerBackgroundColor;
  color: $headerColor;
  @include transition(opacity 600ms ease-out);
  position: relative;
  z-index: 15;
  display: none;

  &.show{ display: block }
  .logo{
    position: relative;
    top: 4px;
    vertical-align: top;
    margin-right: 5px;
  }

  h1{
    display: inline;
    font-size: 14pt;
  }

  .header-menu{
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 10px;

    menu{
      display: inline-block;
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }

  .menu-link{
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: $headerHeight;
    position: relative;
    color: $headerColor;
    padding: 0 12px;

    .icon-caret-down{
      font-size: 0.75em;
      margin-left: 5px;
    }
    &:hover{
      background: rgba(255,255,255,.2);
      color: $headerBtnColorHover;
    }

    &.active{
      background: rgba(255,255,255,.4)
    }
  }

  .menu-link-square{
    padding: 0;
    width: $headerHeight;
    text-align: center;
  }
}

.background-enabled #header{
  opacity: .2;

  &:hover{ opacity: 1 }
}