$itemDetailsWidth: 120px;

.items-list{
  list-style: none;
  margin: 0;
  padding: 0;

  .item-header{
    padding: 0 0 3px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.15);
    margin: 0 0 12px;

    .icon{
      position: relative;
      top: 5px;
    }

    .item-header-btn{
      display: none;
      float: right;
    }
    .icon-double-angle-right{
      display: block;
    }
  }

  .active .item-header-btn, .item-header:hover .item-header-btn{ display: block; text-decoration: none; }

  h4{
    font-size: 16pt;
    font-weight: normal;
  }

  h5{ font-size: 12pt; font-weight: normal; margin-left: 20px; }
  [dir=rtl] h5{ margin-left: 0; margin-right: 20px; }
  &.items-list-headlines{
    & > li{
      padding: 5px 8px 5px 0;
      border-bottom: solid 1px rgba(255,255,255,.1);
      margin: 0 5px 0 17px;

      &:last-child{ border-bottom: none }
    }
  }

  & > li{
    padding: $contentPadding;

    &.read{
      p{
        color: rgba(255,255,255,.4) !important
      }
    }
    &.active{
      background: $itemsListActive;
      p{ color: $color !important }
      .item-details{
        float: none;
        width: auto;
        margin-bottom: 10px;

        & > span { display: inline-block; margin-right: 20px; overflow: visible; }
      }
      .item-text{ margin: 0 !important }
      .item-header .icon-double-angle-right{
        @include transform(rotateZ(90deg));
      }
    }
    &:after{
      content: "";
      clear: both;
      display: block;
    }

    &.active[dir=rtl] .item-details span{
        margin-right: 0; margin-left: 20px;
    }
  }

  .item-thumbnail{
    border: solid 1px rgba(255,255,255,.2);
    float: left;
    margin: 3px 10px 5px 0;
    max-width: 100px;
    max-height: 70px;
  }

  .item-details{
    float: left;
    width: $itemDetailsWidth;
    font-size: 10pt;

    .icon{ display: inline-block; }
    .icon, .favicon{ margin-right: 6px }
    & > span{
      display: block;
      margin-bottom: 8px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .item-text-header{
    font-size: .8em;
    padding: 10px 4px 0;
    border-top: solid 1px rgba(255, 255, 255, 0.2);
    margin: 5px 0 5px 20px;

    i{
      display: inline-block;
      margin-right: 4px;
    }
    span{
      display: inline-block;
      margin-right: 10px;
    }
  }

  .item-text{
    margin-left: $itemDetailsWidth + 10;

    .item-thumbnail.full-width{
        max-width: 100%;
        max-height: 250px;
    }
    p{
      line-height: 1.2em;
    }
    img{ max-width: 100% }
  }

  .items-list-headline{
    .item-details{
      float: right;
      width: 40px;
      text-align: right;
      position: relative;
      top: 3px;

      & > span{
        text-align: left;
        overflow: visible;
        direction: ltr;
      }
    }

    .item-thumbnail{
      max-width: 30px;
      max-height: 30px;
      margin-bottom: 0;
      vertical-align: middle;
    }

    .item-text-with-image{
      margin: 0 0 0 40px;
    }

    .item-text-summary{
      margin: .5em 0 .5em 20px;

      li{
        list-style-position: inside;
      }
    }
    .icon, .favicon{ margin-right: 3px; }
  }

  [dir=rtl]{
    text-align: right;
    .item-header .item-header-btn{ float: left; }
    .item-header .icon-double-angle-right{ @include transform(scaleX(-1)); }
    .item-details{
      float: right;
      .icon, .favicon{ margin-left: 6px; }
    }
    .items-list-headline .item-details{ float: left; text-align: left; }
    .item-text-header{
      margin: 5px 20px 5px 0;

      span{ margin-right: 0; margin-left: 10px; }
      i{ margin-right: 0; margin-left: 4px; }
    }
    .item-text-with-image{ margin: 0 40px 0 0; }
    .item-text{
      margin-left: 0;
      margin-right: $itemDetailsWidth + 10;

      img{
        max-width: 100%;
      }
    }

    .item-thumbnail{
      float: right;
      margin-right: 0;
      margin-left: 10px;
    }

    .item-text-summary{
      margin-right: 20px;
      margin-left: 0;

      img{
        max-width: 100%;
      }
    }
  }
  .item-feed{
    margin-bottom: 10px;
  }
}