.module-settings{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background: $moduleSettingsBackground;
  color: $moduleSettingsColor;
  bottom: auto;
  -webkit-mask-image: none;
  z-index: 2;
  border-bottom: solid 1px $moduleSettingsBorderColor;
  padding: $contentPadding;

  @include transform(translateY(-100%));
  @include transition(-webkit-transform 300ms ease-out);

  .module-settings-remove{
    float: right;
    margin-top: 4px;
  }

  h3{
    height: 28px;
    margin-bottom: 1em;
    border-bottom: solid 1px darken($moduleSettingsColor, 65%);
  }
  label{
    display: block;
    width: $moduleSettingsLabelWidth;
    position: absolute;
    top: 4px;
    left: 0;
    margin-right: 10px;
  }
  .module-settings-options{
    list-style: none;
    margin: 0;
    padding: 0;

    & > li{
      margin-bottom: .5em;
      position: relative;
    }
  }
  .setting-inputs{
    padding-left: $moduleSettingsLabelWidth + 15;
  }

  input[type=text], input[type=number], select{
    border: solid 1px $moduleSettingsInputBorderColor;
    color: $moduleSettingsInputColor;
    background: $moduleSettingsInputBackground;
    padding: 3px 8px;
    outline: none;
    margin: 0;

    @include transition(background 200ms ease-out);
    -moz-transition: background 200ms ease-out;
    transition: background 200ms ease-out;
  }

  input[type=text]:focus, input[type=number]:focus{
    background: White;
  }

  .long-text{ width: 90% }
}

.module-settings-addRemoveList-remove{
  float: right
}

.settings-enabled .module-settings{ @include transform(translateY(0)); box-shadow: 0 3px 12px rgba(0,0,0,.8); }