.notification{
  & > a{
    .notification-close{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      outline: none;
      display: none;
    }
  }

  .notification-count{
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    background: rgb(236, 0, 0);
    border-radius: 3px;
    color: white;
    font-size: 11px;
    line-height: 13px;
    text-indent: -1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 3px;
    text-shadow: 1px 1px 0px rgba(0,0,0,.7);
    min-width: 8px;
  }

  .notifications-items{
    background: $notificationsBackground;
    color: $notificationsColor;
    width: 400px;

    ul{
      list-style: none;
      margin: 0;
      padding: 0 0 0 6px;
    }

    li{
      border-bottom: $notificationBorderBottom;
      position: relative;
      background: darken($notificationsHoverBackground, 20%);
      @include transition(background 1s ease-out);
      -webkit-transition-delay: 5s;
      &:last-child{ border-bottom: none; padding-bottom: 0 }

      &.read{
        background: transparent;
      }
    }

    .notification-item-link{
      position: absolute;
      z-index: 1;
      top: 0;
      height: 100%;
      left: 0;
      width: 100%;

      &:hover{
        background: $notificationsHoverBackground;
      }
    }

    .notification-item-avatar{
      float: left;
      margin: 3px 8px 0px 0;
      border: solid 1px $notificationsThumbnailBorderColor;
      max-width: 50px;
      max-height: 70px;
    }
    .notification-item-image{
      float: right;
      margin: 3px 0 0 8px;
      border: solid 1px $notificationsThumbnailBorderColor;
      max-width: 50px;
      max-height: 70px;
    }
    .notification-item-text-with-image{
      margin-left: 60px;
    }
    .notification-item-content{
      z-index: 2;
      position: relative;
      pointer-events: none;
      padding: 10px;

      &:hover{
        background: $notificationsHoverBackground;
      }

      a{
        color: $notificationsLinkColor;
        &:hover{
          color: $notificationsLinkColorHover;
          text-decoration: underline;
        }
      }
      a, .item-expand{
        pointer-events: auto;
      }

      &[dir=rtl]{
        text-align: right;
      }
    }


    .notification-item-details{
      font-size: .8em;
      margin-top: .5em;

      img{ vertical-align: middle }
    }

    .notifications-empty{
      padding: 20px 10px 25px;
      font-style: italic;
      text-align: center;
    }
  }
  .notifications-header{
    padding: 3px;
    background: $notificationsHeaderBackground;
    color: $notificationsHeaderColor;
    margin-bottom: 3px;
    height: 30px;

    .notifications-user-link{
      color: White;
      &:hover{
        color: Black;
      }
    }
  }
  .notifications-header-btn{
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    color: $headerBtnColor;

    &:hover{
      color: $headerBtnColorHover;
    }
  }
  .notifications-user-image{
    max-height: 30px;
    vertical-align: middle;
    margin-right: 3px;
  }

  &:focus {
    & > a{
      background: $notificationsBackground !important;
      .notification-close{ display: block }
    }
  }

  .item-expand{
    color: rgb(139, 155, 163);

    &:hover{
      color: rgb(98, 169, 204);
    }
  }
}

.notification-icon{
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: ($headerHeight - 24) / 3
}