#notifications{
  float: right;
  height: 100%;
  margin: 0;
}

.notification{
  float: right;
  width: $headerHeight;
  height: 100%;
  position: relative;

  & > a{
    display: block;
    height: 100%;
    text-align: center;
    line-height: $headerHeight;

    &:hover{
      background: rgba(255,255,255,.2);
      .notification-icon{
        background: White;
      }
    }

    &.active{
      background: rgba(0,0,0,.8);
      .notification-icon{ background: White }
    }
  }

  .notification-count{
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    background: Red;
    border-radius: 3px;
    color: white;
    font-size: 11px;
    line-height: 13px;
    text-indent: -1px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px 3px;
    text-shadow: 1px 1px 0px rgba(0,0,0,.7);
    min-width: 8px;
  }

  .notificationsItems{
    position: absolute;
    top: 100%;
    right: 0;
    width: 360px;
    background: rgba(0,0,0,.9);
    color: white;
    z-index: 99999;
    line-height: 1.2em;
    padding: 2px;
    border-radius: 0 0 5px 5px;
    box-shadow: -2px 2px 6px rgba(0,0,0,.8);

    .notificationItems-scroll{
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 400px;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li{
      border-bottom: solid 1px rgba(255,255,255,.05);
      position: relative;

      &:last-child{ border-bottom: none; padding-bottom: 0 }

      &.read{
        opacity: .7;
        &:hover{ opacity: 1 }
      }
    }

    .notification-item-link{
      position: absolute;
      z-index: 1;
      top: 0;
      height: 100%;
      left: 0;
      width: 100%;

      &:hover{
        background: $notificationsHoverBackground;
      }
    }

    .notification-item-image{
      float: left;
      margin: 0 8px 0px 0;
      border: solid 1px rgba(255,255,255,.3);
      margin-top: 3px;
      max-width: 50px;
      max-height: 70px;
    }
    .notification-item-text{
      margin-left: 60px;
    }
    .notification-item-content{
      z-index: 2;
      position: relative;
      pointer-events: none;
      padding: 10px;

      &:hover{
        background: $notificationsHoverBackground;
      }

      a{
        pointer-events: auto;
      }
    }

    .notification-item-details{
      font-size: .8em;
      margin-top: .5em;

      img{ vertical-align: middle }
    }
  }
}

.notification-icon{
  width: 24px;
  height: 24px;
  display: inline-block;
  background: rgba(255,255,255,.7);
  position: relative;
  top: ($headerHeight - 24) / 3
}