.thumbnails{
  -webkit-column-width: 120px;
  -webkit-column-gap: 10px;
  padding: 5px 10px;

  &:after{ content: ""; display: block; clear: both; }

  .thumbnail{
    display: block;
    margin-bottom: 8px;

    &:hover .thumbnail-img{
      border-color: $linkColor;
    }
  }
  .thumbnail-img{
    width: 100%;
    border: solid 1px #666;
    display: block;
    box-sizing: border-box;
  }
}