@import "sass/dark";
@import "sass/font-awesome";

$headerHeight: 45px;
$headerPadding: 0 15px;
$moduleHeaderHeight: 40px;
$column1: 650px;
$column2: 650px;
$contentsPadding: 20px;
$moduleRadius: 5px;
$invertTransitionTime: 400ms;
$moduleSettingsLabelWidth: 120px;

@font-face{
  font-family: 'Alef';
  src: url('fonts/AlefAlef-regular.eot');
  src: url('fonts/Alef-regular.eot?#iefix')
  format('embedded-opentype'),
  url('fonts/Alef-regular.woff') format('woff'),
  url('fonts/Alef-regular.ttf') format('truetype'),
  url('fonts/Alef-regular.svg#webfont') format('svg');
}

html, body{ height: 100%; }
body{
  margin: 0;
  padding: 0;
  background: $background;
  color: $color;
  font-family: 'Calibri', 'Muli', 'Alef', Arial, sans-serif;
  -webkit-perspective: 800px;

  & > header{
    height: $headerHeight;
    line-height: $headerHeight;
    padding: $headerPadding;
    background: $headerBackgroundColor;
    color: $headerColor;

    .logo{
      position: relative;
      top: 4px;
      vertical-align: top;
      margin-right: 5px;
    }

    h1{
      display: inline;
      font-size: 14pt;
    }
  }
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

a{
  color: $linkColor;
  text-decoration: none;

  &:hover{ text-decoration: none; color: $linkColorHover }
}

h1,h2,h3,h4,h5{ margin: 0; padding: 0; }

.content-text{ padding: $contentPadding; }
@-webkit-keyframes rotating {
  from{ -webkit-transform: rotate(0deg); }
  to{ -webkit-transform: rotate(360deg); }
}

.rotating{
  -webkit-animation: rotating 2s linear infinite;
}
.inverted{
  -webkit-transform: rotateY(180deg);
}

.item-expand{
  float: left;
  cursor: pointer;
  width: .8em;
  text-align: left;
  color: rgba(255,255,255,.5);
  -webkit-transform: translateX(0px) translateY(2px) scaleX(.55) scaleY(.9);
  transform: translateX(0px) translateY(2px) scaleX(.55) scaleY(.9);
  -webkit-transition: -webkit-transform 200ms ease-out;
  transition: -webkit-transform 200ms ease-out;
  margin: 0 0 0 -6px;

  &.item-expand-collapse{
    -webkit-transform: translateX(0px) translateY(1px) scaleX(.9) scaleY(.55) rotateZ(90deg);
    transform: translateX(0px) translateY(1px) scaleX(.9) scaleY(.55) rotateZ(90deg);
  }

  &:hover{ color: White }
}
[dir=rtl]{
  .item-expand{
    float: right;
    text-align: right;
    -webkit-transform: translateX(0px) translateY(2px) scaleX(-.55) scaleY(.9);
    transform: translateX(0px) translateY(2px) scaleX(-.55) scaleY(.9);
    margin: 0 -6px 0 0;

    &.item-expand-collapse{
      -webkit-transform: translateX(0px) translateY(3px) scaleX(-.9) scaleY(.55) rotateZ(90deg);
      transform: translateX(0px) translateY(3px) scaleX(-.9) scaleY(.55) rotateZ(90deg);
    }
  }
}

#content{
  position: absolute;
  top: $headerHeight + $contentsPadding;
  left: 0;
  bottom: 0;
  right: 0;

  .column{
    position: relative;
    top: 0;
    bottom: 0;
    float: left;
    height: 100%;
  }
}

.module-wrapper{
  position: relative;
  margin: 0 $contentsPadding;
}
.module{
  position: absolute;
  background: $moduleBackground;
  border-radius: $moduleRadius;
  top: 0;
  width: 100%;
  bottom: $contentsPadding;
  -webkit-transition: -webkit-transform $invertTransitionTime ease-out;

  .module-header{
    height: $moduleHeaderHeight;
    line-height: $moduleHeaderHeight;
    font-size: 13pt;
    padding: $moduleHeaderPadding;
    background: $moduleHeaderBackground;
    border-radius: $moduleRadius $moduleRadius 0 0;

    a{
      color: $moduleHeaderLinkColor;
      &:hover{ text-decoration: underline }
    }

    .module-icon{
      margin: -3px 4px 0 0;
    }

    .module-settings-btn{
      float: right;
      color: $headerBtnColor;
      margin-left: 10px;

      &:hover{
        text-decoration: none;
        color: $headerBtnColorHover;
      }
      &.active{
        color: $headerBtnColorActive;
      }
      &.refreshing .icon-refresh{
        -webkit-animation: rotating 2s linear infinite;
      }
    }
    [dir=rtl] .module-settings-btn{ float: left }
  }

  .module-content{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 30px;
    overflow: hidden;
  }

  .module-content-scroll{
    position: absolute;
    top: 4px;
    bottom: 0;
    left: 0;
    right: 4px;
    padding-bottom: 1.5em;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-mask-image: -webkit-linear-gradient(bottom, transparent 0, white 30px, white 100%);
    z-index: 1;
  }
  .module-content-with-header{
    top: $moduleHeaderHeight;
  }

  .module-settings{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background: $moduleSettingsBackground;
    color: $moduleSettingsColor;
    bottom: auto;
    -webkit-mask-image: none;
    z-index: 2;
    border-bottom: solid 1px $moduleSettingsBorderColor;
    padding: $contentPadding;

    -webkit-transform: translateY(-100%);
    -webkit-transition: -webkit-transform 300ms ease-out;

    h3{
      height: 28px;
      margin-bottom: 1em;
      border-bottom: solid 1px darken($moduleSettingsColor, 65%);
    }
    label{
      display: block;
      width: $moduleSettingsLabelWidth;
      position: absolute;
      top: 4px;
      left: 0;
      margin-right: 10px;
    }
    .module-settings-options{
      list-style: none;
      margin: 0;
      padding: 0;

      & > li{
        margin-bottom: .5em;
        position: relative;
      }
    }
    .setting-inputs{
      padding-left: $moduleSettingsLabelWidth + 15;
    }

    input[type=text], input[type=number], select{
      border: solid 1px $moduleSettingsInputBorderColor;
      color: $moduleSettingsInputColor;
      background: $moduleSettingsInputBackground;
      padding: 3px 8px;
      outline: none;
      margin: 0;
    }

    input[type=text]:focus, input[type=number]:focus{
      background: rgb(126, 211, 255);
    }

    .long-text{ width: 90% }
  }

  .settings-enabled .module-settings{ -webkit-transform: translateY(0); box-shadow: 0 3px 12px rgba(0,0,0,.8); }
}

[dir=rtl]{
  .module-header .module-icon{ margin: 2px 0 0 4px }
}

.favicon{
  width: 16px; height: 16px;
  vertical-align: middle;
}


@import "sass/notifications";
@import "sass/thumbnails";
@import "sass/reader";
@import "sass/responsive";
@import "sass/popup";

/* Scrollbars */
*::-webkit-scrollbar {
  width: 6px;
}
*::-webkit-scrollbar-thumb {
  background: $scrollbarThumbColor;
  min-height: 10px;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb:hover{
  background: $scrollbarThumbColorHover;
}
*::-webkit-scrollbar-track {
  background-color: $scrollbarTrackColor;
}