@import "sass/dark";
@import "sass/font-awesome";

$headerHeight: 45px;
$headerPadding: 0 0 0 15px;
$moduleHeaderHeight: 40px;
$column1: 650px;
$column2: 650px;
$contentsPadding: 20px;
$moduleRadius: 5px;
$invertTransitionTime: 400ms;
$moduleSettingsLabelWidth: 120px;
$modalHeaderHeight: 60px;

@font-face{
  font-family: 'Alef';
  src: url('fonts/AlefAlef-regular.eot');
  src: url('fonts/Alef-regular.eot?#iefix')
  format('embedded-opentype'),
  url('fonts/Alef-regular.woff') format('woff'),
  url('fonts/Alef-regular.ttf') format('truetype'),
  url('fonts/Alef-regular.svg#webfont') format('svg');
}

html, body{ height: 100%; }
body{
  margin: 0;
  padding: 0;
  background: $background;
  color: $color;
  font-family: 'Calibri', 'Muli', 'Alef', Arial, sans-serif;
  -webkit-perspective: 800px;
  overflow: hidden;
}
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

a{
  color: $linkColor;
  text-decoration: none;
  cursor: pointer;

  &:hover{ text-decoration: none; color: $linkColorHover }
}

h1,h2,h3,h4,h5{ margin: 0; padding: 0; }

.content-text{ padding: $contentPadding; }
@-webkit-keyframes rotating {
  from{ -webkit-transform: rotate(0deg); }
  to{ -webkit-transform: rotate(360deg); }
}

.rotating{
  -webkit-animation: rotating 2s linear infinite;
}
.inverted{
  -webkit-transform: rotateY(180deg);
}
.dimmed{ opacity: .3 }
.centered{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}
.main-menu-wrapper{
  float: right;
  width: $headerHeight;
  height: 100%;
  position: relative;
  outline: none;

  &:focus .main-menu{
    display: block;
  }
}

.main-menu{
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 360px;
  z-index: 99999;
  line-height: 1.2em;
  padding: 2px;
  border-radius: 0 0 5px 5px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.8);

  .main-menu-scroll{
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
  }
}

.login{
  font-size: 1.4em;
  -webkit-transform: translateY(-.5em);
}

.item-expand{
  float: left;
  cursor: pointer;
  text-align: left;
  color: rgba(255, 255, 255, 0.5);
  height: 1.4em;
  width: 2em;
  margin-left: -11px;
  -webkit-user-select: none;

  &:hover{ color: White }
  i{
    width: .8em;
    -webkit-transform: translateX(9px) translateY(2px) scaleX(.55) scaleY(.9);
    transform: translateX(9px) translateY(2px) scaleX(.55) scaleY(.9);
    -webkit-transition: -webkit-transform 200ms ease-out;
    transition: -webkit-transform 200ms ease-out;
  }
  &.item-expand-collapse i{
    -webkit-transform: translateX(9px) translateY(1px) scaleX(.9) scaleY(.55) rotateZ(90deg);
    transform: translateX(9px) translateY(1px) scaleX(.9) scaleY(.55) rotateZ(90deg);
  }
}
[dir=rtl]{
  .item-expand{
    float: right;
    margin: 0 -11px 0 0;

    i{
      float: right;
      text-align: right;
      -webkit-transform: translateX(-9px) translateY(2px) scaleX(-.55) scaleY(.9);
      transform: translateX(-9px) translateY(2px) scaleX(-.55) scaleY(.9);
    }
    &.item-expand-collapse i{
      -webkit-transform: translateX(-9px) translateY(3px) scaleX(-.9) scaleY(.55) rotateZ(90deg);
      transform: translateX(-9px) translateY(3px) scaleX(-.9) scaleY(.55) rotateZ(90deg);
    }
  }
}

.fill{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#backgroundOverlay{
  z-index: 5;
}

#content{
  top: $headerHeight + $contentsPadding;
  z-index: 10;
  -webkit-transition: all 800ms ease-out;
  left: $contentsPadding;
  right: $contentsPadding;
  bottom: $contentsPadding;

  .layout-column{
    position: relative;
    float: left;
    height: 100%;

    &:first-child .module{ margin-left: 0 }
    &:last-child .module{ margin-right: 0 }
  }
}

.background-enabled #content{
  -webkit-transform: translateZ(820px);
  opacity: 0;
}
.module-wrapper{
  position: relative;

  &:last-child .module{
    bottom: 0;
  }
}
.module{
  background: $moduleBackground;
  border-radius: $moduleRadius;
  margin: 0 $contentsPadding / 2;
  bottom: $contentsPadding;

  .module-header{
    height: $moduleHeaderHeight;
    line-height: $moduleHeaderHeight;
    font-size: 13pt;
    padding: $moduleHeaderPadding;
    background: $moduleHeaderBackground;
    border-radius: $moduleRadius $moduleRadius 0 0;
    white-space: nowrap;

    a{
      color: $moduleHeaderLinkColor;
      &:hover{ text-decoration: underline }
    }

    .module-icon{
      margin: -3px 4px 0 0;
    }

    .module-settings-btn{
      float: right;
      color: $headerBtnColor;
      margin-left: 10px;

      &:hover{
        text-decoration: none;
        color: $headerBtnColorHover;
      }
      &.active{
        color: $headerBtnColorActive;
      }
      &.refreshing .icon-refresh{
        -webkit-animation: rotating 2s linear infinite;
      }
    }
    [dir=rtl] .module-settings-btn{ float: left }
  }

  .module-content{
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .module-content-scroll{
    padding-bottom: .5em;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-mask-image: -webkit-linear-gradient(bottom, transparent 0, white 30px, white 100%);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: $scrollbarMargin;
    bottom: 0;
  }
  .module-content-with-header{
    top: $moduleHeaderHeight + $scrollbarMargin;
  }

  .module-settings{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background: $moduleSettingsBackground;
    color: $moduleSettingsColor;
    bottom: auto;
    -webkit-mask-image: none;
    z-index: 2;
    border-bottom: solid 1px $moduleSettingsBorderColor;
    padding: $contentPadding;

    -webkit-transform: translateY(-100%);
    -webkit-transition: -webkit-transform 300ms ease-out;

    .module-settings-remove{
      float: right;
      margin-top: 4px;
    }

    h3{
      height: 28px;
      margin-bottom: 1em;
      border-bottom: solid 1px darken($moduleSettingsColor, 65%);
    }
    label{
      display: block;
      width: $moduleSettingsLabelWidth;
      position: absolute;
      top: 4px;
      left: 0;
      margin-right: 10px;
    }
    .module-settings-options{
      list-style: none;
      margin: 0;
      padding: 0;

      & > li{
        margin-bottom: .5em;
        position: relative;
      }
    }
    .setting-inputs{
      padding-left: $moduleSettingsLabelWidth + 15;
    }

    input[type=text], input[type=number], select{
      border: solid 1px $moduleSettingsInputBorderColor;
      color: $moduleSettingsInputColor;
      background: $moduleSettingsInputBackground;
      padding: 3px 8px;
      outline: none;
      margin: 0;
    }

    input[type=text]:focus, input[type=number]:focus{
      background: rgb(126, 211, 255);
    }

    .long-text{ width: 90% }
  }

  .settings-enabled .module-settings{ -webkit-transform: translateY(0); box-shadow: 0 3px 12px rgba(0,0,0,.8); }
}

.module-resize-drag{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: $contentsPadding;
  left: 0;
  cursor: ns-resize;
}

[dir=rtl]{
  .module-header .module-icon{ margin: 2px 0 0 4px }
}

.favicon{
  width: 16px; height: 16px;
  vertical-align: middle;
}

.loading-indicator{
  position: absolute;
  width: 44px;
  height: 44px;
  display: none;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  z-index: 1000;
  background: url(../img/loader.png) no-repeat 0 0;
  &.active{ display: block; -webkit-animation: rotating 2s linear infinite; }
}

@import "sass/header";
@import "sass/notifications";
@import "sass/options";
@import "sass/modal";
@import "sass/thumbnails";
@import "sass/reader";
@import "sass/popup";

/* Scrollbars */
*::-webkit-scrollbar {
  width: $scrollbarWidth;
}
*::-webkit-scrollbar-thumb {
  background: $scrollbarThumbColor;
  min-height: 10px;
  border-radius: $scrollbarWidth / 2;
}
*::-webkit-scrollbar-thumb:hover{
  background: $scrollbarThumbColorHover;
}
*::-webkit-scrollbar-track {
  background-color: $scrollbarTrackColor;
}