<div class="main-menu-wrapper notification" ng-controller="NotificationsController" tabindex="1">
    <a class="menu-link" ng-mousedown="openNotifications()">
        <img class="notification-icon" ng-src="{{notification.icon}}" />
        <span ng-cloak ng-show="notification.unreadCount" class="notification-count">{{notification.unreadCount}}</span>
        <span class="notification-close" tabindex="-1"></span>
    </a>
    <div class="main-menu notificationsItems">
        <header class="notifications-header">
            <a class="notifications-header-btn" title="Remove" ng-click="removeModule(notification, 'notifications')">
                <i class="icon-remove"></i>
            </a>
            <a class="notifications-header-btn" title="Refresh" ng-click="refresh()">
                <i class="icon-refresh" ng-class="{rotating:loading}"></i>
            </a>
            <a class="notifications-user-link" href="{{notification.user.link}}" target="_blank">
                <img class="notifications-user-image" ng-src="{{notification.user.image}}" ng-show="notification.user.image" />
                <span ng-bind="notification.user.name || notification.name + ' notifications'"></span>
            </a>
        </header>
        <div class="main-menu-scroll">
            <ul>
                <li ng-repeat="item in notification.items" ng-class="{read:!item.unread}">
                    <a href="{{item.link}}" target="_blank" class="notification-item-link"></a>
                    <div class="notification-item-content clearfix" dir="{{item.direction}}">
                        <img ng-show="item.image" ng-src="{{item.image.src}}" class="notification-item-image" />
                        <img ng-src="{{item.avatar}}" class="notification-item-avatar" ng-show="item.avatar" />
                        <i class="icon-play item-expand" ng-class="{'item-expand-collapse':item==maximizedItem}" ng-click="toggleItem(item)" ng-show="item.summary"></i>
                        <div class="notification-item-text" ng-class="{'notification-item-text-with-image':item.avatar}">
                            <div ng-bind-html-unsafe="item.html"></div>
                            <p class="notification-item-summary" ng-show="item==maximizedItem" ng-bind-html-unsafe="item.summary"></p>
                            <div class="notification-item-details">
                                <img ng-src="{{item.icon}}" ng-show="item.icon" />
                                <span>{{item.date | prettyDate}}</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="notifications-empty" ng-show="!notification.items.length">
            No new notifications
        </div>
    </div>
</div>