<div class="main-menu-wrapper options-menu-wrapper" tabindex="1">
    <a class="menu-link">
        <i class="icon-cogs"></i>
    </a>
    <div class="main-menu options-menu">
        <div class="main-menu-scroll options-menu-scroll">
            <ul class="options-items">
                <li>
                    <a ng-click="openModuleSettings()"><i class="icon-th-large"></i> Manage widgets</a>
                </li>
                <li>
                    <a href="http://github.com/yoxigen/homepage" target="_blank"><i class="icon-github-alt"></i> Homepage on Github</a>
                </li>
                <li>
                    <a ng-click="logoutAll()"><i class="icon-signout"></i> Logout from all widgets</a>
                </li>
            </ul>
        </div>
    </div>
</div>