<div class="main-menu-wrapper options-menu-wrapper" tabindex="1" ng-switch="!!currentUser" ng-controller="UserMenuController">
    <div ng-switch-when="true">
        <a class="menu-link">
            {{ currentUser.attributes.displayName || currentUser.attributes.username }} <i class="icon-caret-down"></i>
        </a>
        <div class="main-menu options-menu">
            <div class="main-menu-scroll options-menu-scroll">
                <ul class="options-items">
                    <li>
                        <a ng-click="openModuleSettings()"><i class="icon-th-large"></i> + Add widgets</a>
                    </li>
                    <li>
                        <a ng-click="logout()"><i class="icon-signout"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-switch-when="false">
        <a class="menu-link" ng-click="login()"><i class="icon-signin"></i> Sign in</a>
    </div>
</div>