<div class="module fill" ng-controller="WidgetController">
    <h2 class="module-header">
        <a class="module-settings-btn" ng-class="{active:settingsEnabled}" title="Settings" ng-show="module.settingsOptions.length" ng-click="settingsEnabled = !settingsEnabled">
            <i class="icon-cog"></i>
        </a>
        <a ng-show="module.settings.refreshRate" ng-click="refresh()" ng-disabled="refreshing" class="module-settings-btn" ng-class="{refreshing:loading}" title="Refresh">
            <i class="icon-refresh"></i>
        </a>
        <a href="{{module.link}}" target="_blank"><img src="{{module.icon || (module.link | favicon)}}" class="favicon module-icon" /> {{module.name}}</a>
    </h2>
    <div class="module-content module-content-with-header" ng-class="{'settings-enabled':settingsEnabled}">
        <div class="module-settings" ng-include="includes.settings"></div>
        <div class="module-content-scroll">
            <ng-include src="module.html.widget"></ng-include>
            <div class="module-content-height-measure"></div>
        </div>
    </div>
</div>