<div class="youtube-widget" ng-controller="YouTubeController">
    <div class="centered login" ng-show="!isLoggedIn">
        <a ng-click="login()"><i class="icon-signin"></i> Login to YouTube</a>
    </div>
    <div ng-show="isLoggedIn">
        <div class="module-content-header">
            <a ng-click="logout()">
                <i class="icon-signout"></i> Logout
            </a>
        </div>
        <div ng-class="{'youtube-thumbnails-wrapper': currentVideoEmbedUrl }">
            <ul class="unstyled thumbnails" ng-class="{ 'minimized-thumbnails': currentVideoEmbedUrl }">
                <li ng-repeat="item in items">
                    <a ng-click="selectVideo(item)" class="thumbnail">
                        <img ng-src="{{item.thumbnails.small.src}}" title="{{item.title}}" class="thumbnail-img" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="youtube-player" ng-show="currentVideoEmbedUrl">
            <iframe class="youtube-embed" ng-src="{{currentVideoEmbedUrl}}" frameborder="0" type="text/html" />
        </div>
    </div>
</div>