<div class="background-module slideshow" ng-controller="SlideshowController">
    <div class="slideshow-images">
        <div class="slideshow-image"
             ng-class="{ active: currentImages[0].active }"
             ng-style="{ 'background-size': imageBackgroundSize, 'background-image': 'url(' + currentImages[0].src + ')', 'z-index': currentImages[0].order }"></div>
        <div class="slideshow-image"
             ng-class="{ active: currentImages[1].active }"
             ng-style="{ 'background-size': imageBackgroundSize, 'background-image': 'url(' + currentImages[1].src + ')', 'z-index': currentImages[1].order }"></div>
        <div class="slideshow-images-cover" ng-click="imageClick()"></div>
        <div class="loading-indicator" ng-class="{active: slideshowImageLoading && background.enabled }"></div>
    </div>
    <div class="slideshow-menu" ng-class="{ open: slideshowMenuOpen }">
        <header class="slideshow-menu-header" ng-click="toggleMenu($event)">
            <div class="slideshow-menu-header-controls slideshow-main-menu-header-controls">
                <a ng-click="pause()" ng-show="isPlaying"><i class="icon-pause"></i> Pause slideshow</a>
                <a ng-click="play()" ng-show="!isPlaying"><i class="icon-play"></i> Start slideshow</a>
                <a ng-click="toggleFitFill()" title="{{module.settings.fitMode && 'Fill screen with image' || 'Fit image to screen'}}">
                    <i class="icon-{{module.settings.fitMode && 'fullscreen' || 'crop'}}"></i>
                </a>
                <a title="Thumbnails">
                    <i class="icon-th" ng-click="toggleMenu()"></i>
                </a>
                <a ng-click="closeSlideshow()" title="Close slideshow (Esc)"><i class="icon-remove icon-large"></i></a>
            </div>
            <h2>Slideshow</h2>
        </header>
        <div class="slideshow-menu-contents">
            <menu class="slideshow-menu-sources">
                <a ng-repeat="source in sources"
                   ng-click="selectSource(source)"
                   ng-class="{ selected: currentSource == source}">{{source.name}}</a>
                <div class="slideshow-menu-sources-bottom"></div>
            </menu>
            <div class="slideshow-source-contents" ng-show="currentSource" ng-switch="contentsType">
                <div class="slideshow-source-header">
                    <div class="slideshow-menu-header-controls">
                        <a ng-click="sourceLogin(currentSource)" ng-show="!currentSourceIsLoggedIn"><i class="icon-signin"></i> Login to {{currentSource.name}}</a>
                        <a ng-click="sourceLogout()" ng-show="currentSourceIsLoggedIn"><i class="icon-signout"></i> Logout {{currentUserName}} from {{currentSource.name}}</a>
                    </div>

                    <h3>{{currentSource.name}}</h3>
                    <span ng-show="currentFeed.type == 'album' || contentsType == 'albums'" ng-switch="contentsType">
                        <i class="icon-caret-right"></i>
                        <a ng-show="currentFeed.type == 'album'" ng-click="getAlbumsForCurrentSource()">Albums</a>
                        <span ng-switch-when="albums" ng-show="currentFeed.type != 'album'">Albums</span>
                    </span>
                    <span ng-show="currentFeed">
                        <i class="icon-caret-right"></i>
                        {{currentFeed.name}}
                    </span>
                </div>
                <div class="slideshow-thumbnails" ng-switch-when="top">
                    <ul class="unstyled">
                        <li ng-repeat="feed in feeds">
                            <a ng-click="selectFeed(feed)">{{feed.name}}</a>
                        </li>
                    </ul>
                </div>
                <div class="slideshow-thumbnails" ng-switch-when="albums">
                    <a ng-repeat="album in currentSourceAlbums"
                       ng-click="selectFeed(album)"
                       title="{{album.name}} ({{album.imageCount}})"
                       class="thumbnail-img"
                       ng-class="{ selected: currentFeed == album }"
                        ng-style="{ 'background-image': 'url(' + album.thumbnail.src + ')' }">
                    </a>
                </div>
                <div class="slideshow-thumbnails slideshow-thumbnails-images" ng-switch-when="images">
                    <a ng-repeat="image in currentFeedImages"
                       ng-click="selectImage($index)"
                       title="{{image.title}}"
                       class="thumbnail-img"
                       ng-class="{ selected: currentImage == image }"
                       ng-style="{ 'background-image': 'url(' + image.thumbnail.src + ')' }">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>