<div class="background-module slideshow" ng-controller="SlideshowController">
    <div class="slideshow-images">
        <div class="slideshow-image"
             ng-class="{ active: currentImages[0].active }"
             ng-style="{ 'background-size': module.settings.mode, 'background-image': 'url(' + currentImages[0].src + ')', 'z-index': currentImages[0].order }"></div>
        <div class="slideshow-image"
             ng-class="{ active: currentImages[1].active }"
             ng-style="{ 'background-size': module.settings.mode, 'background-image': 'url(' + currentImages[1].src + ')', 'z-index': currentImages[1].order }"></div>
        <div class="slideshow-images-cover" ng-click="imageClick()"></div>
        <div class="loading-indicator" ng-class="{active: slideshowImageLoading && background.enabled }"></div>
    </div>
    <div class="slideshow-menu" ng-class="{ open: slideshowMenuOpen }">
        <header class="slideshow-menu-header" ng-click="toggleMenu()">
            <div class="slideshow-menu-header-controls">
                <a ng-click="toggleMenu()" title="{{ slideshowMenuOpen && 'Close' || 'Open' }}">
                    <i ng-class="{ 'icon-double-angle-up': !slideshowMenuOpen, 'icon-double-angle-down': slideshowMenuOpen }"></i>
                </a>
            </div>
            <h2>Slideshow</h2>
        </header>
        <div class="slideshow-menu-contents">
            <menu class="slideshow-menu-sources">
                <a ng-repeat="source in sources" ng-click="selectSource(source)">{{source.name}}</a>
            </menu>
            <div class="slideshow-source-contents" ng-show="currentSource">
                <div class="slideshow-source-menu">
                    <a ng-click="sourceLogin(currentSource)" ng-show="!currentSourceIsLoggedIn">Login to {{currentSource.name}}</a>
                    <a ng-click="currentSource.auth.logout()" ng-show="currentSourceIsLoggedIn">Logout from {{currentSource.name}}</a>
                </div>
                <div class="slideshow-thumbnails">
                    <a ng-repeat="item in currentSourceItems"
                       ng-click="selectAlbum(item)"
                       title="{{item.name}} ({{item.imageCount}})"
                       class="thumbnail-img"
                        ng-style="{ 'background-image': 'url(' + item.thumbnail.src + ')' }">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>