$loginWidth: 240px;
$loginHeight: 400px;

.login-modal{
  width: 240px;
  position: absolute;
  right: 20%;
  border: solid 1px rgba(255,255,255,.2);
  padding: 20px;
  background: rgba(255,255,255,.1);
  top: 50%;
  margin-top: -1 * $loginHeight / 2;

  .login-close{
    position: absolute;
    right: 7px;
    top: 5px;
    color: rgba(255,255,255,.2);
    font-size: 15px;

    &:hover{
      color: White;
    }
  }

  .modal-subtitle{
    position: absolute;
    left: -420px;
    width: 400px;

    h2{
      margin-bottom: 10px;
    }
  }

  .login-or{
    margin-top: 14px;

    hr{
      display: inline-block;
      width: 40%;
      border-color: rgba(255,255,255,.2);
      position: relative;
      top: 4px;
      border-bottom: 0;
      border-style: dotted;
    }

    span{
      display: inline-block;
      width: 17%;
      text-align: center;
    }
  }
  .login-form{
    margin-top: 5px;

    label > span{
      display: inline-block;
      padding-right: 6px;
    }

    input[type=text], input[type=password]{
      border: none;
      padding: 7px;
      border-radius: 3px;
      background: rgba(255,255,255,.6);
      -webkit-transition: all 200ms ease-out;
      outline: none;

      &:focus{
        background: White;
      }
    }

    .input-email, input[type=password]{
      width: 225px;
    }
    .form-element{
      padding: 8px 0;

      &:last-child{
        border-bottom: none;
      }
    }
  }

  .login-modal-buttons{
    width: 240px;
    margin: 0 auto;
  }

  .login-signin-btn{
    width: 60%;
    margin-top: 5px;
  }

  .login-new-user{
    border-top: dotted 1px rgba(255, 255, 255, 0.2);
    margin-top: 10px;
    padding-top: 15px;
    text-align: center;
  }
}