<div ng-controller="LoginController">
    <modal ng-model="loginOpen">
        <div class="closes-modal login-modal">
            <h3 class="modal-header">{{ newUser && 'Create user' || 'Sign In' }}</h3>
            <form ng-submit="signIn()" class="login-form">
                <div class="formElement">
                    <label>
                        Email address:
                        <input type="text" ng-model="loginUser.username" />
                    </label>
                </div>
                <div class="formElement">
                    <label>
                        Password:
                        <input type="password" ng-model="loginUser.password" />
                    </label>
                </div>
                <p class="error-message" ng-show="loginError">
                    <i class="icon-warning-sign"></i> {{ loginError }}
                </p>
                <div class="formElement">
                    <input type="submit" value="{{ newUser && 'Create user' || 'Sign In' }}" />
                </div>
            </form>
        </div>
    </modal>
</div>