<!DOCTYPE html>
<html ng-csp>
<head>
    <title>HomePage</title>
    <link href='http://fonts.googleapis.com/css?family=Muli:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body ng-controller="HomepageController"
      slideshow
      slideshow-interval="60"
      ng-model="slideshowImages"
      ng-init="slideshowImages=['img/backgrounds/YOX_1437.jpg','img/backgrounds/YOX_1091.jpg']">
    <header>
        <menu id="notifications">
            <div class="notification" ng-repeat="notification in notifications" ng-controller="NotificationsController" ng-include="'partials/notifications.html'" tabindex="1"></div>
        </menu>
        HomePage
    </header>
    <div id="content">
        <div ng-repeat="column in widgets" class="column" ng-style="{ width: (100 / widgets.length) + '%' }">
            <div ng-repeat="module in column.modules" class="module-wrapper" ng-style="{ height: (100 / column.modules.length) + '%' }">
                <div ng-include="module.htmlPath" class="module"></div>
            </div>
        </div>
    </div>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/require.js"></script>
    <script src="js/ng-modules/app.module.js"></script>
    <script src="js/ng-modules/init.module.js"></script>
    <script src="js/ng-modules/notifications.module.js"></script>
    <script src="js/ng-modules/google-feed.js"></script>
    <script src="js/ng-modules/utils.js"></script>
    <script src="js/ng-directives/slideshow.js"></script>
    <script src="js/ng-filters/prettydate.js"></script>
    <script src="js/ng-filters/favicon.filter.js"></script>
    <script src="js/ng-controllers/homepage.controller.js"></script>
    <script src="js/ng-services/homepage.data.js"></script>
    <script src="js/ng-services/oauth.js"></script>
    <script src="js/ng-services/storage.js"></script>
    <script src="js/ng-services/cors_http.js"></script>
    <script src="js/ng-controllers/rss.controller.js"></script>
    <script src="js/ng-controllers/notification.controller.js"></script>

    <div ng-app="HomepageInit" ng-csp>  </div>
</body>
</html>