<!DOCTYPE html>
<html ng-controller="HomepageController">
<head>
    <title ng-bind="pageTitle">Homepage</title>
    <link href='http://fonts.googleapis.com/css?family=Muli:400,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="sass/app.css" />
    <link rel="icon" href="img/icon128.png" type="image/x-icon">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="js/lib/jquery-ui-1.10.1.custom.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.9.min.js"></script>
    <script type="text/javascript">
        google.load("feeds", "1");
    </script>
</head>
<body
      slideshow
      slideshow-interval="60"
      ng-model="slideshowImages"
      ng-class="{ 'background-enabled': background.enabled }"
      ng-init="slideshowImages=['img/backgrounds/1.webp','img/backgrounds/2.webp','img/backgrounds/3.webp']"
      toggle-keys="{{ { escape: 'background.disable' } }}"
      toggle-keys-enabled="background.enabled">
    <header id="header">
        <div class="header-menu">
            <menu id="notifications">
                <ng-include src="includes.notifications" ng-repeat="notification in notifications"></ng-include>
            </menu><menu id="user-menu" ng-include="includes.userMenu">
            </menu>
        </div>
        <img class="logo" src="img/logo.png" />
        <h1>Homepage</h1>
    </header>
    <div id="backgroundOvelay" class="fill" ng-click="background.enable()" ng-show="!background.enabled"></div>
    <div id="content" class="fill">
        <div ng-repeat="row in layout.rows" class="layout-row" ng-style="{ height: row.height }">
            <div ng-repeat="column in row.columns"
                 class="layout-column"
                 nc-ui-sortable="nc-ui-sortable"
                 ui-options="{ connectWith: '.layout-column', scroll: false, out: sortOver, stop: updateLayout}"
                 ng-model="column.widgets"
                 update-layout-on="column.widgets.length"
                 on-layout-change="onColumnLayoutChange(column, heights, refreshLayout)"
                 ng-style="{ width: column.width }">
                <div ng-repeat="module in column.widgets" class="module-wrapper" ng-style="{ height: module.height }" ng-include="includes.widget">
                </div>
            </div>
        </div>
    </div>
    <ng-include ng-repeat="service in services" src="service.html.widget"></ng-include>
    <script type="text/ng-template" id="setting.text">
        <input type="text"
               ng-class="{'long-text':setting.style=='long'}"
               ng-model="module.settings[setting.name]"
               id="setting_{{module.id}}"
               ng-change="settings.onUpdate(setting)" />
        <span ng-bind="setting.appendix"></span>
    </script>
    <script type="text/ng-template" id="setting.number">
        <input type="number"
               ng-model="module.settings[setting.name]"
               id="setting_{{module.id}}"
               min="{{setting.min}}"
               max="{{setting.max}}"
               step="{{setting.step}}"
               ng-change="settings.onUpdate(setting)" />
        <span ng-bind="setting.appendix"></span>
    </script>
    <script type="text/ng-template" id="setting.select">
        <select ng-model="module.settings[setting.name]"
                ng-change="settings.onUpdate(setting)"
                id="setting_{{module.id}}"
                ng-options="option.value as option.display for option in setting.options"></select>
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="js/lib/angular-ui.min.js"></script>
    <script src="js/lib/require.js"></script>
    <script src="js/ng-services/storage.js"></script>
    <script src="js/ng-services/model.service.js"></script>

    <script src="js/ng-modules/init.module.js"></script>
    <script src="js/ng-modules/utils.js"></script>
    <script src="js/ng-modules/eventBus.js"></script>
    <script src="js/ng-filters/prettydate.js"></script>
    <script src="js/ng-filters/favicon.filter.js"></script>
    <script src="js/ng-services/oauth1.js"></script>
    <script src="js/ng-services/oauth2.js"></script>
    <script src="js/ng-services/cache.js"></script>
    <script src="js/ng-services/users.js"></script>
    <script src="js/ng-services/parse.js"></script>

    <div id="appInit" ng-app="HomepageInit" ng-csp></div>
</body>
</html>