$slideshowMenuHeaderHeight: 40px;
$slideshowMenuPadding: 10px;

.slideshow{
  overflow: hidden;

  .slideshow-images, .slideshow-image, .slideshow-images-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .slideshow-images-cover{
    z-index: 8;
  }

  .slideshow-image{
    opacity: 0;
    -webkit-transition: opacity 1s ease-out;
    -webkit-transition-delay: 500ms;
    background-position: center center;
    background-repeat: no-repeat;

    &.active{
      opacity: 1;
    }
  }

  .slideshow-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 40%;
    opacity: 0;
    background: rgba(0,0,0,.6);
    z-index: 10;

    -webkit-transform: translateY(-$slideshowMenuHeaderHeight);
    -webkit-transition: all 300ms ease-out;

    &.open{
    }
  }

  .slideshow-menu-header{
    height: $slideshowMenuHeaderHeight;
    line-height: $slideshowMenuHeaderHeight;
    padding: 0 $slideshowMenuPadding;
    background: rgba(0,0,0,.25);
    cursor: pointer;

    h2{
      font-size: 17px;
      font-weight: bold;
    }

    .slideshow-menu-header-controls{
      float: right;

      a{
        color: White;
        display: inline-block;
        height: $slideshowMenuHeaderHeight;
        line-height: $slideshowMenuHeaderHeight;
        padding: 0 7px;
      }
    }
  }

  .thumbnail-img{
    width: 120px;
    height: 120px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: left;
    margin: 4px;
  }

  .slideshow-menu-sources{
    padding: 0 $slideshowMenuPadding;
  }
  .slideshow-source-menu{
    margin: 10px 0;
    padding: 0 $slideshowMenuPadding;
  }
  .slideshow-thumbnails{
    position: absolute;
    bottom: 5px;
    top: 120px;
    left: 0;
    right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: $slideshowMenuPadding;
  }
}

.background-enabled{
  .slideshow-menu{
    opacity: 0.4;

    &:hover{
      opacity: 1;
    }

    &.open{
      opacity: 1;
      -webkit-transform: translateY(-100%);
    }
  }
}