$slideshowMenuHeaderHeight: 40px;

.slideshow{
  .slideshow-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 40%;
    opacity: 0;
    background: rgba(0,0,0,.6);

    -webkit-transform: translateY(-$slideshowMenuHeaderHeight);
    -webkit-transition: all 300ms ease-out;

    &.open{
    }
  }

  .slideshow-menu-header{
    height: $slideshowMenuHeaderHeight;
    line-height: $slideshowMenuHeaderHeight;
    padding: 0 10px;
    background: rgba(0,0,0,.25);
    cursor: pointer;

    h2{
      font-size: 17px;
      font-weight: bold;
    }

    .slideshow-menu-header-controls{
      float: right;

      a{
        color: White;
        display: inline-block;
        height: $slideshowMenuHeaderHeight;
        line-height: $slideshowMenuHeaderHeight;
        padding: 0 7px;
      }
    }
  }
}

.background-enabled{
  .slideshow-menu{
    opacity: 0.4;

    &:hover{
      opacity: 1;
    }

    &.open{
      opacity: 1;
      -webkit-transform: translateY(-100%);
    }
  }
}


