$slideshowMenuHeaderHeight: 40px;
$slideshowMenuPadding: 10px;
$slideshowMenuSourcesWidth: 160px;
$slideshowMenuSourcesItemHeight: 40px;
$slideshowMenuContentsMargins: 2px;

@import "../../../../sass/bourbon/bourbon";

.slideshow{
  overflow: hidden;

  .slideshow-images, .slideshow-image, .slideshow-images-cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .slideshow-images-cover{
    z-index: 8;
  }

  .slideshow-image{
    opacity: 0;
    @include transition(opacity 1s ease-out);
    @include transition-delay(500ms);
    background-position: center 20%;
    background-repeat: no-repeat;

    &.active{
      opacity: 1;
    }
  }

  .slideshow-menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 40%;
    opacity: 0;
    background: rgba(0,0,0,.6);
    z-index: 10;

    @include transform(translateY(-$slideshowMenuHeaderHeight));
    @include transition(all 300ms ease-out);

    .icon-th{
      font-size: 14px;
      position: relative;
      top: 1px;
    }
  }

  .slideshow-menu-header{
    height: $slideshowMenuHeaderHeight;
    line-height: $slideshowMenuHeaderHeight;
    padding: 0 $slideshowMenuPadding;
    background: rgba(0,0,0,.25);
    cursor: pointer;

    h2{
      font-size: 17px;
      font-weight: bold;
    }
  }

  .slideshow-main-menu-header-controls{
    i{ font-size: .8em; margin-right: 4px; }
  }

  .slideshow-menu-header-controls{
    float: right;

    a{
      display: inline-block;
      height: $slideshowMenuHeaderHeight;
      line-height: $slideshowMenuHeaderHeight;
      padding: 0 7px;
      color: White;

      &:hover{
        color: rgb(87, 198, 255);
      }
    }
  }

  .thumbnail-img{
    width: 120px;
    height: 120px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: left;
    margin: 4px;
    border: solid 1px #666;

    &:hover{
      border-color: rgb(87, 198, 255);
    }

    &.selected{
      border-color: White;
    }
  }

  .slideshow-thumbnails-images .thumbnail-img{
    width: 60px;
    height: 60px;
    margin: 2px;
  }
  .slideshow-menu-sources{
    position: absolute;
    top: $slideshowMenuHeaderHeight;
    bottom: 0;
    left: 0;
    width: $slideshowMenuSourcesWidth;
    padding: 0;
    margin: 0;

    & > a{
      display: block;
      height: $slideshowMenuSourcesItemHeight;
      line-height: $slideshowMenuSourcesItemHeight;
      padding: 0 $slideshowMenuPadding + 10;
      background: rgba(0,0,0,.2);
      margin-top: $slideshowMenuContentsMargins;

      &:hover{
        background: none;
      }

      &.selected{
        background: rgba(11, 119, 175, 0.7);
        color: white;
      }
    }
  }

  .slideshow-menu-sources-bottom{
    background: rgba(0,0,0,.2);
    margin-top: $slideshowMenuContentsMargins;
    height: 100%;
  }

  .slideshow-source-contents{
    position: absolute;
    top: $slideshowMenuHeaderHeight + $slideshowMenuContentsMargins;
    bottom: 0;
    left: $slideshowMenuSourcesWidth + $slideshowMenuContentsMargins;
    right: 0;
    background: rgba(0,0,0,.2);
  }

  .slideshow-source-header{
    height: $slideshowMenuHeaderHeight;
    line-height: $slideshowMenuHeaderHeight;
    padding: 0 $slideshowMenuPadding;

    h3{
      display: inline;
      font-size: 1em;
      font-weight: normal;
    }

    .icon-caret-right{
      font-size: .8em;
      color: #aaa;
    }
  }

  .slideshow-thumbnails{
    position: absolute;
    bottom: 0;
    top: 40px;
    left: 0;
    right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: $slideshowMenuPadding;
  }
}

.background-enabled{
  .slideshow-menu{
    opacity: 0.4;

    &:hover{
      opacity: 1;
    }

    &.open{
      opacity: 1;
      @include transform(translateY(-100%));
    }
  }
}