.slideshow {
  overflow: hidden; }
  .slideshow .slideshow-images, .slideshow .slideshow-image, .slideshow .slideshow-images-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .slideshow .slideshow-images-cover {
    z-index: 8; }
  .slideshow .slideshow-image {
    opacity: 0;
    -webkit-transition: opacity 1s ease-out;
    -webkit-transition-delay: 500ms;
    background-position: center center;
    background-repeat: no-repeat; }
    .slideshow .slideshow-image.active {
      opacity: 1; }
  .slideshow .slideshow-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 40%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    -webkit-transform: translateY(-40px);
    -webkit-transition: all 300ms ease-out; }
  .slideshow .slideshow-menu-header {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.25);
    cursor: pointer; }
    .slideshow .slideshow-menu-header h2 {
      font-size: 17px;
      font-weight: bold; }
  .slideshow .slideshow-menu-header-controls {
    float: right; }
    .slideshow .slideshow-menu-header-controls a {
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 7px; }
  .slideshow .thumbnail-img {
    width: 120px;
    height: 120px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    float: left;
    margin: 4px;
    border: solid 1px #666; }
    .slideshow .thumbnail-img:hover {
      border-color: #57c6ff; }
  .slideshow .slideshow-menu-sources {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    width: 160px;
    padding: 0;
    margin: 0; }
    .slideshow .slideshow-menu-sources > a {
      display: block;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      background: rgba(0, 0, 0, 0.2);
      margin-top: 2px; }
      .slideshow .slideshow-menu-sources > a:hover {
        background: rgba(0, 96, 146, 0.45); }
      .slideshow .slideshow-menu-sources > a.selected {
        background: rgba(11, 119, 175, 0.7);
        color: white; }
  .slideshow .slideshow-source-contents {
    position: absolute;
    top: 42px;
    bottom: 0;
    left: 162px;
    right: 0;
    background: rgba(0, 0, 0, 0.2); }
  .slideshow .slideshow-source-header {
    height: 40px;
    line-height: 40px;
    padding: 0 10px; }
    .slideshow .slideshow-source-header h3 {
      display: inline;
      font-size: 1em;
      font-weight: normal; }
    .slideshow .slideshow-source-header .icon-caret-right {
      font-size: .8em;
      color: #aaa; }
  .slideshow .slideshow-thumbnails {
    position: absolute;
    bottom: 5px;
    top: 40px;
    left: 0;
    right: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px; }

.background-enabled .slideshow-menu {
  opacity: 0.4; }
  .background-enabled .slideshow-menu:hover {
    opacity: 1; }
  .background-enabled .slideshow-menu.open {
    opacity: 1;
    -webkit-transform: translateY(-100%); }
