.viewer-modal .modal-contents {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  height: 100%;
  width: 100%;
  position: relative; }

.viewer-media {
  position: relative;
  margin: 0 auto; }
  .viewer-media .modal-btn {
    position: absolute;
    top: 0;
    height: 100%;
    width: 80px;
    text-align: center;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center; }
    .viewer-media .modal-btn[disabled] {
      opacity: 0;
      cursor: default; }
    .viewer-media .modal-btn.nav-btn-prev {
      left: -80px; }
    .viewer-media .modal-btn.nav-btn-next {
      right: -80px; }

.viewer-image {
  border: solid 1px #555;
  vertical-align: middle;
  text-align: center;
  width: 100%; }

.viewer-description {
  text-align: center;
  padding: 0 2em; }
