<div class="modal" ng-controller="ViewerController" ng-show="viewerOpen" ng-cloak>
    <div class="modal-background"></div>
    <a class="modal-btn modal-close" ng-click="viewerOpen = false">
        <i class="icon-remove icon-large"></i>
    </a>
    <div class="modal-contents viewer-contents" ng-style="{ width: currentItem.width}">
        <div>
            <div>
                <a class="modal-btn" ng-click="prev()"><i class="icon-chevron-left icon-large"></i></a>
                <img class="viewer-image" ng-src="{{currentItem.url}}" />
                <a class="modal-btn" ng-click="next()"><i class="icon-chevron-right icon-large"></i></a>
            </div>
            <p class="viewer-description" ng-bind-html-unsafe="currentItem.title"></p>
        </div>
    </div>
</div>