.viewer-contents {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center; }

.viewer-image {
  border: solid 1px #555;
  vertical-align: middle;
  margin: 0 2em; }

.viewer-description {
  text-align: center; }
