.module-settings-modules {
  width: 80%;
  max-width: 1056px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding: 0; }

.module-settings-contents {
  position: absolute;
  top: 100px; }

.module-settings-modules-list {
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 20px;
  width: 400px;
  overflow-y: auto;
  overflow-x: hidden; }
  .module-settings-modules-list li {
    padding: 15px 15px;
    cursor: pointer; }
    .module-settings-modules-list li:hover {
      background-color: rgba(87, 198, 255, 0.2); }
    .module-settings-modules-list li.selected {
      background-color: rgba(87, 198, 255, 0.26); }

.module-settings-string-array li {
  margin-bottom: 5px; }

.module-settings-array-add {
  margin-bottom: 10px;
  margin-top: 5px; }

.module-settings-name {
  margin-bottom: .5em;
  color: #57c6ff; }

.module-settings-description {
  margin: 0; }

.module-settings-icon {
  width: 32px;
  float: left;
  margin-right: 1em;
  position: relative;
  top: 2px; }

.module-settings-details {
  float: left;
  width: 316px; }

.module-settings-selected {
  left: 400px;
  padding-left: 40px;
  right: 0; }

.module-settings-selected-name {
  color: #57c6ff;
  font-size: 1.7em;
  font-weight: normal;
  margin-right: 150px; }

.module-settings-selected-description {
  margin: .5em 0; }

.module-settings-selected-add {
  position: relative;
  top: 10px; }

.module-settings-selected-screenshot {
  width: 100%; }

.module-settings-selected-screenshots {
  margin-top: 1em; }
