@import "../../../sass/dark";

$moduleSettingsListWidth: 400px;
$moduleSettingsListIconWidth: 32px;
$moduleSettingsListIconMargin: 15px;
$modalHeaderHeight: 100px;

.module-settings-modules{
  width: 80%;
  max-width: 1056px;
  margin: 0 auto;
  position:relative;
  height: 100%;
  padding: 0;
}

.module-settings-contents{
  position: absolute;
  top: $modalHeaderHeight;
}

.module-settings-modules-list{
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 20px;
  width: $moduleSettingsListWidth;
  overflow-y: auto;
  overflow-x: hidden;

  li{
    padding: 15px $moduleSettingsListIconMargin;
    cursor: pointer;

    &:hover{
      background-color: $linkColorBackgroundHover;
    }

    &.selected{
      background-color: $linkColorBackgroundSelected;
    }
  }
}

.module-settings-string-array{
  li{
    margin-bottom: 5px;
  }
}

.module-settings-array-add{
  margin-bottom: 10px;
  margin-top: 5px
}

.module-settings-name{
  margin-bottom: .5em;
  color: $linkColor;
}
.module-settings-description{
  margin: 0;
}

.module-settings-icon{
  width: $moduleSettingsListIconWidth;
  float: left;
  margin-right: 1em;
  position: relative;
  top: 2px;
}
.module-settings-details{
  float: left;
  width: $moduleSettingsListWidth - $moduleSettingsListIconWidth - 3 * $moduleSettingsListIconMargin - 1 - $scrollbarWidth;
}

.module-settings-selected{
  left: $moduleSettingsListWidth;
  padding-left: 40px;
  right: 0;
}
.module-settings-selected-name{
  color: $linkColor;
  font-size: 1.7em;
  font-weight: normal;
  margin-right: 150px;
}
.module-settings-selected-description{
  margin: .5em 0;
}
.module-settings-selected-add{ position: relative; top: 10px; }
.module-settings-selected-screenshot{ width: 100%; }
.module-settings-selected-screenshots{ margin-top: 1em; }