<div ng-controller="ModuleSettingsController">
    <modal ng-model="moduleSettingsOpen">
        <div class="module-settings-modules closes-modal">
            <h3 class="modal-header">Manage Modules</h3>
            <ul class="module-settings-contents module-settings-modules-list">
                <li ng-repeat="moduleSettings in modules"
                    class="clearfix"
                    ng-class="{added: moduleSettings.used, selected: moduleSettings == currentModule}"
                    ng-click="setCurrentModule(moduleSettings)">
                    <img class="module-settings-icon" ng-src="{{moduleSettings.icon}}" />
                    <div class="module-settings-details">
                        <h4 class="module-settings-name">{{moduleSettings.name}} <i class="icon-ok" ng-show="moduleSettings.used"></i></h4>
                        <p class="module-settings-description" ng-bind-html-unsafe="moduleSettings.description"></p>
                    </div>
                </li>
            </ul>
            <div class="module-settings-contents module-settings-selected">
                <a class="btn module-settings-selected-add pull-right" ng-click="addModule(currentModule)" ng-show="currentModule">+ Add widget</a>
                <header class="module-settings-selected-header">
                    <h4 class="module-settings-selected-name">{{currentModule.name}}</h4>
                    <p class="module-settings-selected-description" ng-bind="currentModule.description"></p>
                </header>
                <div class="module-settings-selected-screenshots">
                    <img class="module-settings-selected-screenshot" ng-src="{{currentScreenshotUrl}}" ng-show="currentScreenshotUrl" />
                </div>
            </div>
        </div>
    </modal>
</div>