<div ng-controller="InstagramController">
    <h2 class="module-header">
        <a ng-click="refresh()" ng-disabled="refreshing" class="module-settings-btn" ng-class="{refreshing:refreshing}" title="Refresh">
            <i class="icon-refresh"></i>
        </a>
        <a ng-show="!isLoggedIn" ng-click="login()" class="module-settings-btn" title="Sign in"><i class="icon-signin"></i></a>
        <a href="http://yoxigen.github.com/yoxview/?/instagram/feed" target="_blank"><img src="http://instagram.com/favicon.ico" class="favicon module-icon" /> Instagram</a>
    </h2>
    <div class="module-content module-content-with-header" ng-include="includes.thumbnails">

    </div>
</div>